body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-color: #e6e2e2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fdfbfb;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: grabbing;
}

form button:hover {
    background-color: #218838;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.expense-table th, .expense-table td {
    padding: 10px;
    border: 1px solid #abadab;
    text-align: left;
}

.expense-table th {
    background-color: #e7f7ea;
}

.total-amount {
    text-align: right;
    font-size: 18px;
}

.filter {
    margin-bottom: 20px;
    text-align: right;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
nav{
    display: flex;
    background-color: rgb(233, 255, 237);
    padding: 2px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(58, 167, 58);
    transition: all;
    transition-duration: 500ms;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul{
    display: flex;
}

div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
}

footer{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}